/* CARRUSEL */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption,
.carousel-caption-off, h1 {
    bottom: 3rem;
    font-family: "Montserrat", sans-serif;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    object-fit: scale-down;
    height: 75vh;
    width: 100%;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    /* min-width: 100%; */
    /* height: 32rem; */
    max-width: 100%;
    height: auto;
}

.carousel-item {
    bottom: 3rem;
    z-index: 10;
}

/* Carousel caption */

.carousel-caption-title {
	font-size: 3rem;
}

.carousel-caption-off {
    display: none;
}

.carousel-caption .btn {
    position: relative;
    overflow: hidden;
    z-index: 9;
}

.carousel-caption .btn-primary,
.carousel-caption-off .btn-primary {
    color: #fff;
    background-color: var(--sakura-3);
    border-color: var(--sakura-2);
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    carousel-caption {
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 768px) {
    .carousel-item {
        height: 55vh;
    }
    .carousel-caption {
        display: none;
    }
    .carousel-caption-off {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .carousel-item {
        height: 30vh;
    }
}

/* efecto botón carousel-caption en pantallas pc */

@media screen and (min-width: 992px) {
    .carousel-caption .btn:before {
        content: "";
        background: var(--sakura-2);
        width: 4px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
    }
    .carousel-caption p a.btn:hover:before {
        width: 100%;
    }
}
