.map {
	height: 500px;
	position: relative;
}

.map iframe {
	width: 100%;
}

.map .map-inside {
	position: absolute;
	left: 50%;
	top: 160px;
	-webkit-transform: translateX(-175px);
	-ms-transform: translateX(-175px);
	transform: translateX(-175px);
}

.map .map-inside i {
	font-size: 48px;
	color: #5768AD;
	position: absolute;
	bottom: -75px;
	left: 50%;
	-webkit-transform: translateX(-18px);
	-ms-transform: translateX(-18px);
	transform: translateX(-18px);
}

.map .map-inside .inside-widget {
	width: 350px;
	background: #ffffff;
	text-align: center;
	padding: 23px 0;
	position: relative;
	z-index: 1;
	-webkit-box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
	box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
}

.map .map-inside .inside-widget:after {
	position: absolute;
	left: 50%;
	bottom: -38px;
	-webkit-transform: translateX(-6px);
	-ms-transform: translateX(-6px);
	transform: translateX(-9px);
	border: 18px solid transparent;
	border-top: 36px solid #ffffff;
	content: "";
	z-index: -1;
}

.map .map-inside .inside-widget h5 {
	font-size: 20px;
	color: #263246;
	margin-bottom: 4px;
}

.map .map-inside .inside-widget ul li {
	list-style: none;
	font-size: 16px;
	color: #9B9EA3;
	line-height: 26px;
}